@page
@model LibraryAccounting.Pages.ClientPages.BookCatalogModel
@{

    ViewData["ClientPages/BookCatalog"] = "disabled";
}
<div class="container mt-3">
    <form class="form-inline" method="post">
        <div class="form-group">
            <label class="m-2">Автор: </label>
            <select name="authorId" class="form-control" asp-items="Model.Authors">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <div class="form-group">
            <label class="m-2">Жанр: </label>
            <select name="genreId" class="form-control" asp-items="Model.Genres">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <div class="form-group">
            <label class="m-2">Издатель: </label>
            <select name="publisher" class="form-control" asp-items="Model.Publishers">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <button class="btn btn-info m-2" type="submit">Фильтровать</button>
    </form>
    <div class="row justify-content-md-start">
        @foreach (var book in Model.Books)
        {
            <div class="col-lg-3 col-md-2 col-12">
                <a asp-page="/ClientPages/ConcreteBook" asp-route-bookId="@book.Id">
                    <h4>@book.Title</h4>
                    <p>Автор: @book.Author.Name <br />Жанр: @book.Genre.Name <br />Издатель: @book.Publisher</p>
                </a>
                @if (book.Booking == null)
                {
                    <p>В наличии</p>
                    <form method="post" asp-page-handler="Booking">
                        <input type="hidden" name="bookId" value="@book.Id" />
                        <input type="hidden" name="clientId" value="@Model.User.UserId" />
                        <button class="btn btn-dark">Забронировать</button>
                    </form>
                }
                else
                {
                    <p>Забронировано: @book.Booking.Client.UserName</p>
                }
            </div>
        }
    </div>
</div>