@page
@model LibraryAccounting.Pages.LibrarianPages.BookCatalogModel
@{
    ViewData["LibrarianPages/BookCatalog"] = "disabled";
}
<div class="container mt-3">
    <form class="form-inline" method="post">
        <div class="form-group">
            <label class="m-2">Автор: </label>
            <select name="authorId" class="form-control" asp-items="Model.Authors">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <div class="form-group">
            <label class="m-2">Жанр: </label>
            <select name="genreId" class="form-control" asp-items="Model.Genres">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <div class="form-group">
            <label class="m-2">Издатель: </label>
            <select name="publisher" class="form-control" asp-items="Model.Publishers">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <button class="btn btn-info m-2" type="submit">Фильтровать</button>
    </form>
    <div class="row justify-content-md-start">
        @foreach (var book in Model.Books)
        {
            <div class="col-lg-3 col-md-2 col-12">
                <a>
                    <h4>@book.Title</h4>
                    <p>Автор: @book.Author.Name <br />Жанр: @book.Genre.Name <br />Издатель: @book.Publisher</p>
                </a>
                @if (book.Booking == null)
                {
                    <p>В наличии</p>
                    <a class="btn btn-warning booking-btn" asp-page="BookForm" asp-route-id="@book.Id">Редактировать</a>
                    <a class="btn btn-warning booking-btn" asp-page-handler="Remove" asp-route-id="@book.Id">Удалить</a>
                }
                else
                {

                    <p>Забронировано @book.Booking.Client.UserName</p>
                    @if (book.Booking.IsTransmitted)
                    {
                        <p>Передано @book.Booking.TransferDate</p>
                        <form method="post" asp-page-handler="Return">
                            <input type="hidden" name="id" value="" />
                            <button class="btn btn-info booking-btn">Принять</button>
                        </form>
                    }
                    else
                    {
                        <p>Не передано</p>
                        <form method="post" asp-page-handler="Transfer">
                            <input type="hidden" name="id" value="" />
                            <button class="btn btn-danger booking-btn">Передать</button>
                        </form>
                    }
                    @if (book.Booking.IsReturned)
                    {
                        <p>Принято </p>
                    }
                }
            </div>
        }
    </div>
</div>
